<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <div id="map-host"></div>
  <div id="toast">
    <h3 id="toast-message"></h3>
  </div>
</body>

</html>