body {
  margin: 0;
}

#map-host {
  width: 100vw;
  height: 100vh;
}

#toast {
  width: 50vw;
  background: #444;
  color: #fff;
  position: absolute;
  top: 30%;
  left: 25%;
  z-index: 9999;
  border-radius: 30px;
  text-align: center;
  padding: 0 8px;
  visibility: hidden;
}

#toast.hidden {
  opacity: 0;
  visibility: hidden;

  -webkit-transition: visibility 0s 3s, opacity 3s ease-out;
  -moz-transition: visibility 0s 3s, opacity 3s ease-out;
  -ms-transition: visibility 0s 3s, opacity 3s ease-out;
  -o-transition: visibility 0s 3s, opacity 3s ease-out;
  transition: visibility 0s 3s, opacity 3s ease-out;
}

#toast.showing {
  opacity: 1;
  visibility: visible;
}

.leaflet-popup-content-wrapper {
  display: flex;
  background: #ccc;
  flex-direction: row;
}

.leaflet-popup-content {
  text-align: center;
}

.leaflet-popup-content a {
  font-weight: bold;
}

.marker-user-icon {
  position: relative;
  background-image: url(../node_modules/leaflet/dist/images/marker-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.marker-user-icon__image {
  position: absolute;
  top: 10%;
  left: 22%;
  width: 60%;
  height: 50%;
  border-radius: 50%;
}

.marker-group-icon {
  background: #f0f;
  border-radius: 50%;
  opacity: 0.3;
  text-align: center;
  font-size: 3em;
}

.profiles-container {
  display: flex;
  flex-wrap: wrap;
}

.profile-container {
  border: 1px solid #ccc;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 4px;
  margin: 4px;
}

.profile-image {
  border-radius: 50%;
  align-self: center;
  width: 50px;
  height: 50px;
}

.profile-link {
  margin: 4px;
}

.profile-caption {
  margin: 4px;
}
